/*------------------------------------------------------------------
    Rentaroo styles for Beds24
------------------------------------------------------------------*/


/*------------------------------------------------------------------
    Type
*/

@font-face {
  font-family: Founders Grotesk Text;
  src: url(https://www.rentaroo.lu/fonts/founders-grotesk-text-regular.woff2)
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Founders Grotesk Text', sans-serif !important;
}

/*------------------------------------------------------------------
    Variables
*/
:root {
    /* Borders */
    --b-s: 2px;
    --b-m: 3px;
    --b-l: 4px;

    /* Colors */
  --dark: #013140;
  --grey: #f5f4f4;
  --teal: #cae4db;
  --purple: #dcd2f7;
  --lime: #e6efcf;
}
.colorbody {
  background-color: var(--grey);
}

/*------------------------------------------------------------------
    Media queries: General (S M L XL)
------------------------------------------------------------------*/
#b24scroller {
    border: var(--b-m) solid var(--dark);
  }


/*------------------------------------------------------------------
    Media queries: L & XL
------------------------------------------------------------------*/

@media screen and (min-width: 768px) {
  /*------------------------------------------------------------------
    Filters
*/

  #b24scroller .row .col-md-1.col-lg-1:first-child,
  #b24scroller .row .col-md-1.col-lg-1:last-child {
    display: none;
  }
  #b24scroller .row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-left: 0;
  }
  #b24scroller > * {
    flex-grow: 1;
  }
  #b24scroller .b24-selector-checkin,
  #b24scroller .b24-selector-checkout {
    flex-grow: 2;
  }
  #b24scroller .col-lg-1,
  #b24scroller .col-lg-10,
  #b24scroller .col-lg-11,
  #b24scroller .col-lg-12,
  #b24scroller .col-lg-2,
  #b24scroller .col-lg-3,
  #b24scroller .col-lg-4,
  #b24scroller .col-lg-5,
  #b24scroller .col-lg-6,
  #b24scroller .col-lg-7,
  #b24scroller .col-lg-8,
  #b24scroller .col-lg-9,
  #b24scroller .col-md-1,
  #b24scroller .col-md-10,
  #b24scroller .col-md-11,
  #b24scroller .col-md-12,
  #b24scroller .col-md-2,
  #b24scroller .col-md-3,
  #b24scroller .col-md-4,
  #b24scroller .col-md-5,
  #b24scroller .col-md-6,
  #b24scroller .col-md-7,
  #b24scroller .col-md-8,
  #b24scroller .col-md-9,
  #b24scroller .col-sm-1,
  #b24scroller .col-sm-10,
  #b24scroller .col-sm-11,
  #b24scroller .col-sm-12,
  #b24scroller .col-sm-2,
  #b24scroller .col-sm-3,
  #b24scroller .col-sm-4,
  #b24scroller .col-sm-5,
  #b24scroller .col-sm-6,
  #b24scroller .col-sm-7,
  #b24scroller .col-sm-8,
  #b24scroller .col-sm-9,
  #b24scroller .col-xs-1,
  #b24scroller .col-xs-10,
  #b24scroller .col-xs-11,
  #b24scroller .col-xs-12,
  #b24scroller .col-xs-2,
  #b24scroller .col-xs-3,
  #b24scroller .col-xs-4,
  #b24scroller .col-xs-5,
  #b24scroller .col-xs-6,
  #b24scroller .col-xs-7,
  #b24scroller .col-xs-8,
  #b24scroller .col-xs-9 {
    padding-left: 0;
    padding-right: 0;
  }
  #b24scroller .form-group select,
  #b24scroller .date .form-control,
  #b24scroller .input-group-addon {
    border-radius: 0;
    border: var(--b-s) solid var(--dark);
    border-left: 0;
    padding: 8px 10px;
    height: 4rem;
    background-color: var(--grey);
  }
  #b24scroller #checkin .input-group-addon {
    border-left: var(--b-s) solid;
  }
  #b24scroller #checkin .form-control[disabled],
  #b24scroller #checkin .form-control[readonly],
  #b24scroller #checkin fieldset[disabled],
  #b24scroller #checkin .form-control,
  #b24scroller .input-group-addon,
  #b24scroller #checkout .form-control[disabled],
  #b24scroller #checkout .form-control[readonly],
  #b24scroller #checkout fieldset[disabled],
  #b24scroller #checkout .form-control,
  #b24scroller .input-group-addon {
    background-color: var(--grey);
  }

  #b24scroller .glyphicon-calendar {
    width: 18px;
    height: 18px;
    background-image: url(https://storageaccountdigit93d1.blob.core.windows.net/gio-site/7a66dabd-63d1-4c69-b747-fb54f96cfdf7.svg);
    background-size: cover;
  }
  #b24scroller .glyphicon-calendar:before {
    display: none;
  }

  /*------------------------------------------------------------------
    Room Top
  */
  .colorbookingform, .b24panel {
    background-color: transparent;
  }

  .b24-roompanel-heading {
    border: var(--b-m) solid var(--dark);
    border-bottom: var(--b-s) solid;
  }
  .b24room .b24panel-room .row .clearfix {
    display: none !important;
  }

 .b24room .panel-body {
    padding: 0;
 }

 .b24panel .row  {
  margin-left: 0;
  margin-right: 0;
}
 .b24room .b24-room-slider {
    padding: 0;
    border: var(--b-m) solid var(--dark);
    border-right: var(--b-s) solid;
    border-top: 0;
 }

 /*------------------------------------------------------------------
  Offer
 */
 .offer {
  width: 58.33333333%;
  margin-left: 41.66666667%;
  margin-top: -4px;
  padding: 16px;
  border: var(--b-m) solid var(--dark);
  border-bottom: 4px solid;
  border-top: 0;

 }
 .offer hr {
  display: none;
 }


}


